
<ion-card [ngClass]="prod.quantity < limit ? 'warning' : null">


  <ion-card-header>
    <ion-item>
     <ion-icon (click)="deleteProd()" name="trash" slot="end" style="cursor: pointer; color: red;"></ion-icon>

        <ion-icon [name]="prod.icon" slot="start"></ion-icon>
        <ion-card-title>{{prod.name | uppercase}}</ion-card-title>
    </ion-item>
  </ion-card-header>

  <ion-row>
<ion-col size="8" >
  <ion-item>
  <ion-label>Unità</ion-label>
  <ion-select cancelText="Annulla" interface="popover" placeholder="..." value={{prod.measureUnit}} (ionChange)="updateMeasureUnit($event)">
    <ion-select-option value="single">Singolo</ion-select-option>
    <ion-select-option value="package">Pacco</ion-select-option>
  </ion-select>
</ion-item>
</ion-col>

<ion-col>
  <ion-item>

  <ion-icon (click)="removeQuantity()" name="remove-circle-outline"   style="cursor: pointer; color: red;"></ion-icon>

  {{ prod.quantity  ? prod.quantity : 0}}

<ion-icon  (click)="addQuantity()" name="add-circle-outline"  style="cursor: pointer; color: green;"></ion-icon>
</ion-item>

</ion-col>
  </ion-row>
  <!-- <ion-item >
    <ion-label>Unità</ion-label>
      <ion-select cancelText="Annulla" interface="popover" placeholder="Seleziona unità di misura" value={{prod.measureUnit}} (ionChange)="updateMeasureUnit($event)">
        <ion-select-option value="single">Singolo</ion-select-option>
        <ion-select-option value="package">Pacco</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="float: right;">
        <ion-icon (click)="removeQuantity()" name="remove-circle-outline"   style="cursor: pointer; color: red;"></ion-icon>

      {{ prod.quantity  ? prod.quantity : 0}}

    <ion-icon  (click)="addQuantity()" name="add-circle-outline"  style="cursor: pointer; color: green;"></ion-icon>
  </ion-item> -->


  <ion-card-content>
   {{prod.description}}
  </ion-card-content>
  
</ion-card>
